html {
   font-family: sans-serif
}

body {
   margin: 1rem;
   align-items: stretch;
   display: flex;
   flex-direction: column;
}

div { 
   display: flex;
   flex-direction: column;
}

#root {
   align-items: center;
}

h1, h2, h3, h4, h5, h6, ul, ol {
   margin: 0;
   padding: 0;
}

h1 {
   margin: 1rem 0;
}

h2 {
   margin: 0.5rem 0;
}

ul, ol {
   margin-bottom: 0.5rem;
   padding-left: 1rem;
}

hr {
   background: black;
   border: 0;
   height: 1px;
   max-width: 100%;
   width: 100%;
}

a {
   color: black;
   font-weight: bold;
   text-decoration: none;
}

img { 
   max-width: 100%;
}

p {
   margin-top: 0;
   text-align: justify;
}

.content-pane {
	width: 100%;
	max-width: 30rem;
}

.content hr {
   width: 95%;
}

.breadcrumb-container {
    flex-flow: row wrap;
}

.breadcrumb-container a {
}

.breadcrumb-container a::after {
   content: "/";
   padding: 0 0.33em;
   font-weight: normal;
}
