@import "tailwindcss";

html {
  @apply min-h-full h-full;
}
body {
  @apply font-sans;
  @apply text-slate-900;
  @apply min-h-full h-full;
  @apply relative;
  @apply flex flex-col;
  @apply print:pt-6 print:block;
}

main {
  @apply flex-1;
  @apply mx-auto;
  @apply flex flex-col;
  @apply max-w-4xl;
  @apply md:px-16 md:pt-6;
  @apply px-6 pt-3;
}

h1 {
  @apply text-4xl;
  @apply relative;
}

h2 {
  @apply text-3xl;
  @apply relative;
}

h3 {
  @apply text-2xl;
  @apply relative;
}

.role {
  @apply flex flex-wrap justify-start items-end;
  @apply w-full;
}

.role > * {
  @apply pr-4;
}

.date-range {
  @apply text-slate-600;
}
div.date-range {
  @apply text-lg;
}
span.date-range {
  @apply text-slate-500;
}

.client {
  @apply text-xl;
  @apply pr-4;
}

section section {
  @apply py-2;
}

hr {
  @apply border-slate-500 border-t-2;
  @apply w-40;
}

section hr {
  @apply border-slate-400 border-t-2;
  @apply mx-8;
  @apply w-auto;
}

section section hr {
  @apply border-slate-300 border-t-2;
  @apply mx-16 my-2;
  @apply w-auto;
}

p + p {
  @apply pt-2;
}

a {
  @apply break-inside-avoid;
  white-space: nowrap;
}

section a {
  @apply underline;
}

@media screen {
  section {
    @apply py-3;
  }

  a {
    @apply underline;
  }

  main a {
    @apply relative;
    @apply text-blue-900;
    padding-right: 1.2em;
  }

  main a::after {
    @apply absolute inset-0;
    content: "";

    background: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-external-link%22%3E%3Cpath%20d%3D%22M18%2013v6a2%202%200%200%201-2%202H5a2%202%200%200%201-2-2V8a2%202%200%200%201%202-2h6%22%3E%3C%2Fpath%3E%3Cpolyline%20points%3D%2215%203%2021%203%2021%209%22%3E%3C%2Fpolyline%3E%3Cline%20x1%3D%2210%22%20y1%3D%2214%22%20x2%3D%2221%22%20y2%3D%223%22%3E%3C%2Fline%3E%3C%2Fsvg%3E%0A");
    mask-size: 1em;
    mask-repeat: no-repeat;
    mask-position: 100% 75%;
  }

  footer,
  button {
    @apply text-slate-100 bg-slate-800;
    @apply py-2 px-4;
  }

  h1::before,
  h2::before,
  h3::before,
  h4::before {
    position: absolute;
    right: 100%;
    @apply pr-2 text-slate-500;
    top: 0;
    bottom: 0;
    @apply hidden;
    @apply block;
  }
}

@media screen and (min-width: 48rem) {
  h1::before {
    content: "#";
  }
  h2::before {
    content: "##";
  }
  h3::before {
    content: "###";
  }
  h4::before {
    content: "####";
  }
}

@media print {
  main {
    @apply px-10;
  }

  footer {
    @apply absolute;
    @apply top-0 right-0;
    @apply pt-14 px-8;
    @apply text-right;
  }
}

.my-bounce {
  animation: 1s 3 my-bounce both;
}

@keyframes my-bounce {
  /* up */
  50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    box-shadow:
      0 20px 25px -5px rgb(0 0 0 / 0.3),
      0 8px 10px -6px rgb(0 0 0 / 0.3);
  }

  /* down */
  0%,
  100% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.2),
      0 2px 4px -2px rgb(0 0 0 / 0.2);
  }
}
